---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: ipsecconns.vpn-gw.kubecombo.com
spec:
  group: vpn-gw.kubecombo.com
  names:
    kind: IpsecConn
    listKind: IpsecConnList
    plural: ipsecconns
    singular: ipsecconn
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vpnGw
      name: VpnGw
      type: string
    - jsonPath: .spec.localPublicIp
      name: LocalPublicIp
      type: string
    - jsonPath: .spec.remotePublicIp
      name: RemotePublicIp
      type: string
    - jsonPath: .spec.localPrivateCidrs
      name: LocalPrivateCidrs
      type: string
    - jsonPath: .spec.remotePrivateCidrs
      name: RemotePrivateCidrs
      type: string
    - jsonPath: .spec.localCN
      name: LocalCN
      type: string
    - jsonPath: .spec.remoteCN
      name: RemoteCN
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: IpsecConn is the Schema for the ipsecconns API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: IpsecConnSpec defines the desired state of IpsecConn
            properties:
              auth:
                type: string
              ikeVersion:
                type: string
              localCN:
                type: string
              localPrivateCidrs:
                type: string
              localPublicIp:
                type: string
              proposals:
                type: string
              remoteCN:
                type: string
              remotePrivateCidrs:
                type: string
              remotePublicIp:
                type: string
              vpnGw:
                type: string
            required:
            - auth
            - ikeVersion
            - localCN
            - localPrivateCidrs
            - localPublicIp
            - proposals
            - remoteCN
            - remotePrivateCidrs
            - remotePublicIp
            - vpnGw
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
