---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: ipsecconns.vpn-gw.kubecombo.com
spec:
  group: vpn-gw.kubecombo.com
  names:
    kind: IpsecConn
    listKind: IpsecConnList
    plural: ipsecconns
    singular: ipsecconn
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vpnGw
      name: VpnGw
      type: string
    - jsonPath: .spec.localPublicIp
      name: LocalPublicIp
      type: string
    - jsonPath: .spec.remotePublicIp
      name: RemotePublicIp
      type: string
    - jsonPath: .spec.localPrivateCidrs
      name: LocalPrivateCidrs
      type: string
    - jsonPath: .spec.remotePrivateCidrs
      name: RemotePrivateCidrs
      type: string
    - jsonPath: .spec.localCN
      name: LocalCN
      type: string
    - jsonPath: .spec.remoteCN
      name: RemoteCN
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: IpsecConn is the Schema for the ipsecconns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IpsecConnSpec defines the desired state of IpsecConn
            properties:
              auth:
                description: Authentication to perform locally. pubkey uses public
                  key authentication based on a private key associated with a usable
                  certificate. psk uses pre-shared key authentication. The IKEv1 specific
                  xauth is used for XAuth or Hybrid authentication while the IKEv2
                  specific eap keyword defines EAP authentication.
                type: string
              ikeVersion:
                description: 0 accepts both IKEv1 and IKEv2, 1 uses IKEv1 aka ISAKMP,
                  2 uses IKEv2
                type: string
              localCN:
                description: CN is defined in x509 certificate
                type: string
              localPrivateCidrs:
                type: string
              localPublicIp:
                description: current public ipsec vpn gw ip
                type: string
              proposals:
                description: A proposal is a set of algorithms. For non-AEAD algorithms
                  this includes IKE an encryption algorithm, an integrity algorithm,
                  a pseudo random function (PRF) and a Diffie-Hellman key exchange
                  group. For AEAD algorithms, instead of encryption and integrity
                  algorithms a combined algorithm is used. With IKEv2 multiple algorithms
                  of the same kind can be specified in a single proposal, from which
                  one gets selected. For IKEv1 only one algorithm per kind is allowed
                  per proposal, more algorithms get implicitly stripped. Use multiple
                  proposals to offer different algorithm combinations with IKEv1.
                  Algorithm keywords get separated using dashes. Multiple proposals
                  may be separated by commas. The special value default adds a default
                  proposal of supported algorithms considered safe and is usually
                  a good choice for interoperability. [default]
                type: string
              remoteCN:
                type: string
              remotePrivateCidrs:
                type: string
              remotePublicIp:
                description: remote public ipsec vpn gw ip
                type: string
              vpnGw:
                description: 'reference to: https://docs.strongswan.org/docs/5.9/swanctl/swanctlConf.html#_connections'
                type: string
            required:
            - auth
            - ikeVersion
            - localCN
            - localPrivateCidrs
            - localPublicIp
            - proposals
            - remoteCN
            - remotePrivateCidrs
            - remotePublicIp
            - vpnGw
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
